.main-horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
  gap: 10px; /* Adds padding between the two divs */
}

.left-panel {
  flex: 0 0 55%;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.right-panel {
  flex: 0 0 45%;
  margin: 0;
  height: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto; /* Ensures content fits within the div */
}
